@media only screen and (min-width: 1640px) {
	h1 {
		font-size: 50px;
	}
	
	h2 {
		font-size: 38px;
	}
	
	#clients h2 {
		font-size: 30px;
	}
	
	h3 {
		font-size: 28px;
	}
	
	h4 {
		font-size: 20px;
	}
	
	h5 {
		font-size: 16px;
	}
	
	h6 {
		font-size: 14px;
	}
	
	.text-banner {
		font-size: 12px;
	}
	
	.col-one-in-two p, div {
		font-size: 12px;
	}
	
	#nav ul {
		font-size: 15px;
	}
	
	#works {
		background-size: 70vh;
	}
}

@media only screen and (max-width: 1100px) and (min-width: 640px) {
	#header .col-one-two:not(:last-child) {
		width: 490px;
	}
	
	#header .col-one-two:last-child {
		width: 10px;
	}
}


@media only screen and (max-width: 980px) and (min-width: 640px) {
	.container {
		width: 92%;
	}
	
	#clients .col-one-two:last-child {
		display: none;
	}
	
	#feature .see, .download {
		width: 100px;
	}
	
	#feature, #feature .title {
		height: 50vw;
	}
	

	
	h3, h2, .agency {
		line-height: 19px;
	}
	
	#header h2 {
		line-height: 30px;
		margin-top: 20px;
	}
}


@media only screen and (max-width: 640px) {
	h1 {
		font-size: 40px;
	}
	
	h2 {
		font-size: 22px;
		line-height: 25px;
	}
	
	.text-banner {
		font-size: 12px;
	}
	
	h3 {
		font-size: 15px;
	}
	
	h5 {
		font-size: 12px;
	}
	
	h6 {
		font-size: 10px;
	}
	
	.container {
		width: 92%;
	}
	
	.col-one-in-two {
		width: 50%;
		display: inline-flex;
	}
	
	#abouts .col-one-two:first-child {
		display: none;
	}
	
	#works .title, #blog .title {
		width: 80%;
	}
	
	.col-one-two {
		width: 100%;
	}
	
	.col-one-in-two p {
		height: 80px;
	}
	
	.notes {
		display: block;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.sliders {
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding: 20px 0
	}
	
	.col-one-three {
		float: none;
		width: auto;
		padding: 10px 0;
	}
	
	#slider .col-one-three {
		width: 90%;
	}
	
	#nav {
		display: none;
	}
	
	#feature .see, .download {
		width: 80px;
	}
	
	#feature {
		height: 120vw;
		min-height: 480px;
		max-height: 600px;
	}
	
	#feature img {
		margin-top: 20px;
		display: block;
	}
	
	#feature .title {
		height: 200px;
		padding-top: 30px
	}

	#clients .col-one-two:last-child {
		display: none;
	}
	
	#works {
		height: 450px;
	}
	
	#clients .col-one-two {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	#footer {
		height: 580px;
	}
	
	#footer .col-one-four:first-child {
		width: 100%;
		text-align: center;
		margin-top: -10px
	}
	
	#footer .col-one-four:nth-child(2), #footer .col-one-four:nth-child(3) {
		width: 50%;
		text-align: center;
	}
	
	#footer .col-one-four h4 {
		font-size: 14px;
		padding-bottom: 10px;
	}
	
	#footer .col-one-four p{
		padding-bottom: 7px;
		line-height: normal;
	}
	
	#footer .col-one-four:nth-child(4) {
		height: 150px;
		width: 100%;
	}
	
	#map {
		height: 150px;
	}
	
	#footer .subscribe {
		width: 100%;
		margin: auto;
		text-align: center;
	}
	
	#experience img, #focus img {
		width: 40%;
	}
	
	#feature img {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#focus .col-one-two:last-child .col-one-in-two:first-child, #focus .col-one-two:last-child a:not(:last-child) {
		display: none;
	}
	
	#focus .col-one-two:last-child {
		display: flex;
		justify-content: center;
	}
	
	#mobile-nav {
		display: block;
	}
	
	#header h2:after {
		border-bottom: solid #ffffff 5px;
		width: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#banner {
		display: flex;
		float: none;
		text-align: center;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	
	#header .col-one-two:last-child  {
		display: flex;
		height: 10px;
		width: 90px;
		position: absolute;
		top: 500px;
		right: 41%;
	}
	
	
	
	#header .container {
		position: relative;
		margin: 0 auto;
	}
		
	#works table {
		display: flex;
		justify-content: flex-end;
	}
	
	#abouts .container {
		width: 70%;
	}

	#header .animate-bottom {
		position: relative;
		animation: animatebottom 1s
	}
	
	.badge {
		margin: 1px 2px 1px 2px
	}
	
	.up, .down {
		cursor: pointer;
		width: 0;
		height: 0;
		border-bottom: 4px solid transparent;
		border-top: 4px solid transparent;
	}

	.up {
		border-right: 8px solid #fff;
		margin-right: 7px;
	}

	.down {
		border-left: 8px solid #fff;
		margin-left: 7px;
	}

	@keyframes animatebottom
	{from{left:-300px;opacity:0} to{left:0;opacity:1}}
	
}

@media only screen and (max-width: 450px) {
	.container {
		width: 92%;
	}
	
	#works table {
		justify-content: space-around
	}
	
	#works {
		display: table-cell;
    	vertical-align: middle;
		height: 500px;
		width: 92%;
		font-size: 14px;
		background-image: none;
	}
	
	#focus a, #experience a:not(.see) {
		height: 70px;
	}
	
	#focus .col-one-in-two>p {
		border: none;
	}
} 

@media only screen and (max-width: 380px) {
	#header .col-one-two:last-child {
		right: 35%;
	}
}

@media only screen and (max-width: 300px) {
	#header .col-one-two:last-child {
		right: 30%;
	}
}




