@media only screen and (max-width: 980px) and (min-width: 640px) {
	.container {
		width: 92%;
	}
	
	#clients .col-one-two:last-child {
		display: none;
	}
	
	#clients .col-one-two:first-child {
		margin-left: auto;
	}
	
	div {
		width: auto;
	}
	
	.col-one-two {
		width: 50%;
	}
	
	input[type=email], select {
		background-image: none;
	}
	
	#feature .see, .download {
		width: 100px;
	}
	
	#mobile-nav {
		display: none;
	}
}


@media only screen and (max-width: 640px) {
	h1 {
		font-size: 40px;
	}
	
	h2 {
		font-size: 22px;
	}
	
	.container {
		width: 92%;
	}
	
	.col-one-in-two {
		width: 50%;
		display: inline-flex;
	}
	
	#abouts .col-one-two:first-child {
		display: none;
	}
	
	.col-one-two {
		width: 100%;
	}
	
	.col-one-in-two p {
		height: 80px;
	}
	
	.notes {
		display: block;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.sliders {
		width:100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	#slider .col-3 {
		margin: 50 auto;
	}
	
	.col-one-three {
		float: none;
		width: auto;
		padding: 10px 0;
	}
	
	#nav {
		display: none;
	}
	
	#feature .see, .download {
		width: 80px;
	}
	
	#clients .col-one-two:last-child {
		display: none;
	}
	
	#slider {
		width: 100%;
	}
	
	#works {
		background-position: bottom right;
	}
	
	#clients .col-one-two {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	#footer {
		height: 400px;
	}
	
	#footer .col-one-four:first-child, #footer .col-one-four:last-child {
		width: 98%;
	}
	
	#footer .col-one-four:nth-child(2), #footer .col-one-four:nth-child(3) {
		width: 50%;
	}
	
	#footer .col-one-four h4 {
		font-size: 14px;
		padding-bottom: 10px;
	}
	
	#footer .col-one-four p{
		padding-bottom: 7px;
		line-height: normal;
	}
	
	#experience img, #focus img {
		width: 40%;
	}

	#focus .col-one-two:last-child .col-one-in-two:last-child {
	
	}
	
	#focus .col-one-two:last-child .col-one-in-two:first-child, #focus .col-one-two:last-child p:not(:last-child) {
		display: none;
	}
	
	#focus .col-one-two:last-child {
		display: flex;
		justify-content: center;
	}
	
	#mobile-nav {
		display: flex;
	}
}



